<h1>SIGN-UP</h1>
<form action="" method="post" style="display: flex; flex-direction: column;" >
    <label for="username">Username<input type="text" name="username"></label>
    <label for="password">Password<input type="password" name="password"></label>
    <button type="submit">Signup</button>
</form>