

<div id="form">
  <h2>LOG-IN</h2>

   <form style="display: flex; flex-direction: column" method="POST" action="/auth/login">
   
   <label>Username: <input type="text" name="username" /></label>
  
   <label>Password: <input type="password" name="password" required /></label>
  
   <button type="submit">LogIn</button>
</form>

      
  </form>
</div>
